@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --bg-color: #2b1e22;
    --bg-subtle-color: #473439;
    --fg-color: #f1e9eb;
    --highlight: 
}

html, body {
    min-width: 768px;
    width: 100%;
}

body {
    color: var(--fg-color);
    display: grid;
    font-family: "Quicksand", sans-serif;
    grid-template-columns: 1fr 384px;
    grid-template-rows: 1fr 96px;
    grid-auto-flow: column;
    height: 100dvh;
    margin: 0;
    line-height: 1.4;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    line-height: 1.1;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 1.5rem;
    line-height: 1.1;
}

input[type="radio"], input[type="checkbox"]{
    accent-color: #cd8275;
}

.chart-container {
    background-color: var(--bg-color);
}

.controls-container {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
}

.controls-container > i {
    font-size: 3rem;
}

.panel {
    background-color: var(--bg-subtle-color);
    grid-row: span 2;
    overflow: hidden;
}

.panel-content {
    display: none;
    height: 100%;
    margin: 16px;
}

.panel-content-selected {
    display: block;
}

.panel-nav {
    display: flex;
    height: 64px;
}

.panel-nav-btn {
    align-content: center;
    background-color: var(--bg-color);
    flex: 1;
    height: 100%;
    text-align: center;
}

.panel-nav-btn > i {
    font-size: 1.5rem;
}

.panel-nav-btn:hover {
    background-color: var(--bg-subtle-color);
}

.panel-nav-btn-selected {
    background-color: var(--bg-subtle-color);
    flex: 2;
}