html, body{
    margin: 0;
    height: 100%;
}

.side-panel{
    float: right;
    width: 256px;
    height: 100%;
}

.chart{
    width: calc(100% - 256px);
    height: calc(100% - 96px);
}

.controls{
    width: calc(100% - 256px);
    height: 96px;
}